# Token del bot Telegram (da @BotFather)
BOT_TOKEN=

# ID della chat Telegram (es. il tuo user ID o un gruppo)
CHAT_ID=

# Codice fiscale del paziente
CODICE_FISCALE=

# Numero Ricetta Elettronica (campo "matrice2" nel form)
NRE=


ENV=local